body {
    background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;	
}

.header a{
	color: #ffffff;
    float: right;
    text-align: right;
}

.header img{
    width: 318px;
}
.headera img{
	display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
.headera a{
	display: block;
	color: #ffffff;
    float: right;
    text-align: right;
}

.article-info div {
    display: inline;
}

.article-created-date {
    float: right;
    text-align: right;
}

.one-post a{
	color: #ffffff; 

}
.post-title {
	font-size: 18pt;
}
.article-text {
    text-align: justify;
}
.one-post.folded .article-author{
    display: none;
}
.one-post.folded .article-created-date{
    display: none;
}
.one-post.folded .article-text{
    display: none;
}

